<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .res_temp1{
        margin:10px 10px 10px 10px;
        border: solid black;
        border-radius: 5px;
        padding:10px;
    }
    .imgBx{
        width: 200px;
        height: 200px;
        background:url("images/imgBx.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .resume_head{
        display:flex;
    }
    tr, td {
        align-items: center;
    }
    .candidate{
        font-family: Arial, Helvetica, sans-serif;
        margin-left:15px;
    }
</style>

<body>
    <div class="res_temp1">
        <div class="resume">
            <hr>
            <div class="resume_head">
                <div class="imgBx">

                </div>
                <div class="candidate">
                    <h1 class="name"><b> </b></h1>
                    <h2 class="job"> </h2>
                </div>
            </div>
            <hr>
            <div class="resume_content1">
                <h3>PROFESSIONAL SUMMARY</h3><br>
                <h5> </h5>
            </div>
            <hr>
            <div class="resume_content2">
                <h3>WORK HISTORY</h3><br>
                <table>
                    
                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                </table>
            </div>
            <hr>
            <div class="resume_content3">
                <h3>PROFESSIONAL SKILLS</h3><br>

                <table>
                    
                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                </table>
            </div>
            <hr>
            <div class="resume_content4">
                <h3>EDUCATIONAL BACKGROUND</h3><br>

                <table>
                    
                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                    <tr>
                        <td class="year"> </td>
                        <td class=""><b> </b></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>
</html>