* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  
  }
  .Frame7 {
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px; 
    overflow: hidden;
  }
  .review {
    width: 351px;
    color: rgb(237, 122, 22);
    position: absolute;
    top: 140px;
    left: 265px;
    font-family: serif;
    font-size: 40px;
    font-weight: Bold;
    opacity: 1;
    text-align: left;
  }
  .backbox {
    width: 150px;
    height: 70px;
    background: rgb(182, 180, 180);
    opacity: 1;
    position: absolute;
    top: 500px;
    left: 965px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .pdfback {
    width: 350px;
    height: 60px;
    background: rgb(196, 5, 5);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 865px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
    transition-duration: 1000ms;
    transition-property: all;
    cursor: pointer;
  }
  .pdfback:hover{
    background: rgb(165, 164, 163);
    transform: rotate(180deg);
  }
  
  .download {
    width: 145px;
    color: black;
    position:relative;
    top: 418px;
    left: 920px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    cursor: pointer;
  }
  .back {
    width: 145px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 515px;
    left: 988px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .templatesample {
    width: 400px;
    height: 450px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 200px;
    overflow: hidden;
  }
  .resume {
    width: 180px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 420px;
    left: 325px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .header {
    width: 100%;
    height: 100px;
    background: rgba(66, 64, 90, 1);
    opacity: 1;
    position: center;
    top: 0px;
    left: 45px;
    margin-top: -28px;
  }
  .header img{
    height: 100%;
    width: 10%;
  }
  .header span{
    color: rgb(239, 174, 23);
    position:absolute;
    top: 34px;
    left: 140px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    padding-left: 8px;
  }
  .home {
    width: 110px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 34px;
    left: 304px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: justified;
    margin-left: 25%;
  }
  .about {
    width: 127px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 34px;
    left: 457px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: justified;
    margin-left: 25%;
  }
  .contact {
    width: 169px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 34px;
    left: 608px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: justified;
    margin-left: 25%;
  }
  .login {
    width: 254px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 34px;
    left: 810px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: justified;
    margin-left: 25%;
  }
  .color1 {
    width: 75px;
    height: 59px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 800px;
    border-radius: 20%;
    transition-duration: 1000ms;
    transition-property: all;
  }
  .color1:hover{
    background: black;
    transform: rotate(180deg);
  }
  .color2 {
    width: 75px;
    height: 59px;
    background: rgba(23, 39, 116, 1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 900px;
    border-radius: 20%;
    transition-duration: 1000ms;
    transition-property: all;
  }
  .color2:hover{
    background: rgba(23, 39, 116, 1);
    transform: rotate(180deg);
  }
  .color3 {
    width: 75px;
    height: 59px;
    background: rgba(79, 160, 149, 1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 1000px;
    border-radius: 20%;
    transition-duration: 1000ms;
    transition-property: all;
  }
  .color3:hover{
    background: rgba(79, 160, 149, 1);
    transform: rotate(180deg);
  }
  
  .color4 {
    width: 75px;
    height: 59px;
    background: #FF8674;
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 1100px;
    border-radius: 20%;
    transition-duration: 1000ms;
    transition-property: all;
  }
  .color4:hover{
    background: #FF8674;
    transform: rotate(180deg);
  }
  .color5 {
    width: 75px;
    height: 59px;
    background: #CD6C4B;
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 1200px;
    border-radius: 20%;
    transition-duration: 1000ms;
    transition-property: all;
  }
  .color5:hover{
    background: #CD6C4B;
    transform: rotate(180deg);
  }
  .popup {
    display: none;
    border: 1px solid black;
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 38%;
    text-align: center;  
  }
  h3{
    margin-top: 18%;
   
  }
  button{
    margin-top: 5%;
    padding: 8px 12px;
  }
  h2{
    text-align:end ;
    margin-right: 2%;
    cursor: pointer;
  }
  
  
  
  
